@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
body {
    font-family: 'Source Sans Pro';
    background-color: white;
    background-size: cover;
}

.game-field {
    width: 134px;
    height: 134px;
    display: block;
    float: left;
    color: #EAEAEA;
    font-size: 6.3em;
    padding: 1px 27px;
}

.game {
    background-color: transparent;
    margin: 50px auto;
}

.top-line {
    border-top: 3px solid #DCEBDF;
}

.right-line {
    border-right: 3px solid #DCEBDF;
}

.no-top-line {
    border-bottom: none;
}

.no-right-line {
    border-right: none;
}

.win {
    color: #E4572E !important;
    transition: 200ms;
}

.modal-content {
    background-color: white;
}

.modal-header {
    background-color: #DCEBDF;
    width: 100%;
    height: 100%;
    color: #624c47;
}

.modal-header button {
    color: #EAEAEA;
}

.modal-header button:hover {
    color: #EAEAEA;
}

.modal-header h4 {
    font-size: 2.3em;
}

.modal-body {
    padding: 30px;
    margin: 10px 0;
    text-align: center;
}

.modal-footer {
    padding: 10px 80px 10px 0px;
}

.modal-footer button {
    background-color: white;
    color: black;
    width: 40%;
    font-size: 2em;
    transition: 500ms;
}

.modal-footer button:hover {
    background-color: #E4572E;
    color: white;
}

.signature {
    padding-top: 10px;
}

.human {
    color: #afd9c8
}

.computer {
    color: #624c47
}